# Build and Release Folders


# Project files, i.e. `.project`, `.html` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
https://www.figma.com/design/2dEwFvijfkwOuGnhZoBTIk/Booking-Hotel-Landing-Page-(Community)?node-id=0-1&t=4CNR3UZhGJaF2Soj-0
