*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family:"poppins", sans-serif ;
text-decoration: none;
}
:root{
    --coral-color :#FF7757;
    --white-color: #ffffff;
    --blach-dark-: #172432;
    --gray-shade: #767E86;
    --light-gray: #F5F6F7;
    --gold-shade: #FFC107;
    --bisque-shade:#FFF8F1;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
        overflow-y: auto;

  position: relative;
  margin: 0 auto;
}

.navHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
color: var(--white-color);
height: 85px;
  width: 90%;
    z-index:10;
        margin: 0 auto;

}

.logo{
    height: 2rem;
    display: block;
}

.navDetails{
    display: flex;
    gap: 1.3rem;
    font-size: 1.3rem;
}

@media screen and (max-width:841px) {
    .navDetails{
        display: none;
    }
}

.headList{
    position: relative;
    padding-top: 13px;
    padding-bottom: 10px;
}
.navList{
color: var(--white-color);

}

.underLine {
    position: absolute;
    transform: scale(0);
    height: 3px;
    width: 100%;
    background-color: var(--coral-color);
    transition: all 300ms linear;
    bottom: 0%;
}

.headList:hover .underLine {
    transform: scale(1);
}
.navBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4px;
}

.navbtn-One{
font-size: 1.3rem;
}

 .navbtn-two{
font-size: 1.3rem;
border: none;
background-color: var(--coral-color);
border-radius: 4px;
padding: 5px 10px;
color: var(--white-color);
}

@media screen and (max-width:520px) {
    .navbtn-One,.navbtn-two{
        display: none;
    }

    .navHead{
        padding: 0 1rem;
    }
  .textDiv-one{
    font-size: 2.3rem;
  }
}


.logo,.navbtn-One:hover{
    cursor: pointer;
    color: var(--coral-color);
    transition: 200ms linear;
}
.navbtn-two:hover{
    cursor: pointer;
   background-color: var(--blach-dark-);
   transition: 200ms linear;
}
.hamburger{
    color: var(--white-color);
    height: 2.2rem;
transform: scale(0);
}
@media screen and (max-width:841px) {
    .hamburger{
    transform: scale(1);
    }
}

.heroSection{
width: 100vw;
/* max-width: 1880px; */
height: 800px;
position: relative;
    display: flex;
flex-direction: column;
justify-content: center;
align-content: space-between;
}

.heroimage{
    width: 100%;
    height: 100%;
    margin-top: -10.66rem;
    z-index: -1;
    object-fit: cover;
    object-position: top;
        overflow-x: hidden;

}
.textDiv{
  display: flex;
  flex-direction: column;
width: 60vw;
height: 50vh;
    left: 1.8rem;
   position: absolute;
    top: 6rem;
}

.textDiv-one{

    font-size: 3.9rem;
    color: var(--white-color);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

@media screen and (max-width:642px) {
    .textDiv{
        position: absolute;
        top: 1rem;
        /* margin-bottom:1rem ; */
    }
  
}

@media screen and (max-width:413px) {
    .textDiv-one{
        font-size: 3rem;
    }
}
.textDiv-two{
    color: var(--light-gray);
    font-weight: 300;
}
.bookingHeadDiv{
    display: flex;
    position: absolute;
    top: 24rem;
   max-width: 900px;
   width: 100%;
}
@media screen and (max-width:671px) {
    .bookingHeadDiv{
        /* margin-top: 2rem; */
        flex-direction: column;
      /* max-height: 569px; */
    }
    .Right-booknow{
      width: 100%;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 0 !important;

    }
    .leftbookingpart{
      max-height: 569px;

    }
}
.leftbookingpart{
    margin: 0 auto;
    display: flex;
   flex-wrap: wrap;
    gap: 1rem;
    color: var(--blach-dark-);
    background-color: var(--white-color);
    padding: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
}

.Right-booknow{
    /* margin: 0 auto; */
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--coral-color);
    padding: 10px 20px;
color: var(--white-color);
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;

}

.Right-booknow:hover{
 background-color: var(--blach-dark-);
 transition: linear 200ms;
    cursor: pointer;
}

.Right-booknow p{

font-size: 2rem;
width: max-content;
}
.Right-booknow img{
  /
}
.destination, .person, .checkin,.checkout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.Destination-sub p{
width: 150px;
padding-bottom: 10px;


}
.person-sub, .checkin-sub,.checkout-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
   
}
.section2{
    width: 100%;
    height: 1000px;
    display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
gap: 2.5rem;
}

.descDiv{
    width: 90%;
display: flex;
justify-content: space-between;

}

@media screen and (max-width:510px) {
    .descDiv{
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width:380px) {
    .descDiv{
       margin-top: 7.5rem;
    }
}


.div1{
    display: flex;
    gap: .8rem;
    flex-direction: column;
}
.div2{
    display: flex;
    align-items: end;

}
.div1 h3{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--blach-dark-);
}

.div1 div{
    width: 14rem;
    height: 3px;
    background-color: var(--coral-color);
}

.div1 p{
    color: var(--gray-shade);
}

.arrowsection2,.arrowsection3{
    display: flex;
    align-items: end;
    gap: 2rem;
   
}
.desc-imageDiv{
    display: flex;
gap: 1rem;
width: 90%;
height: 500px;
max-width: 1200px;
}
.image-box{
    margin: 0 auto;
    position: relative;
    color: var(--white-color);
  display: flex;
   gap: 1rem;
   background-repeat: no-repeat;
width: 400px;
}

.imgbg{
    /* height: 100vh;
   width: 100vw; */
   /* margin: 0 auto; */

}


.overlapContent{
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
    gap: 6.5px;
    max-width:100% ;
flex-shrink:1 ;
}
.locNSymbol{
    display: flex;
    gap: 2px;
}


@media screen and (max-width:444px) {
    .desc-imageDiv{
        width: 90%;
       margin-top: -5rem;
    }
    .imgbg{
        height: 400px;
       
    }
    .overlapContent{
        position: absolute;
        bottom: 7.5rem;
        left: 2rem;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        flex-direction: column;
        gap: 6.5px;
        max-width:100% ;
    flex-shrink:1 ;
    }

    .arrowsection2{
        position: relative;
        top: 450px;
        justify-content: center;
    }
}



.section3{
    width: 90%;
display: flex;
flex-direction: column;
margin: 0 auto;
gap: 3rem;
}
.sepcialOfferSectionCOntainer{
width: 100%;
display: flex;
justify-content: space-between;
align-items: end;
margin-top: -17rem;
position: relative;
}

.sepcialOfferCards{
    width: 100%;
    display: flex;
    gap: 2rem;
/* justify-content: center; */
max-width: 1200px;
margin: 0 auto;
}

.card-box{
display: flex;
flex-direction: column;
height: 26.563rem;
width: 27.44rem;

}

.imaggebox{
    width: 100%;
    height: 60%;
}
.summarybox{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    background-color: var(--bisque-shade);
    height: 100%;
    padding-left: 2rem ;
    padding-right: 1rem;
    padding-bottom: 1rem;
    gap: 1rem;
}
/* 444 to 340 */

.summarybox h3{
    margin-top: 2rem;
color: var(--gray-shade);    
}

/* @media screen and (max-width:444px) ,(min-width:340px) {
 
    .section3{
        margin-top: -3rem;
    }
    
} */

.pricingDivi{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price-box{
    display: flex;
    gap: 1rem;
    width: 30%;
    align-items: center;
    margin-right: 1rem;
}

:first-child{
}
.price-box [first]{
    color: var(--gray-shade);

}

.price-box [second]{
    color: var(--coral-color);
    font-size: 2rem;
}

.details{
 text-align: center;
    background-color: var(--coral-color);
    padding:.7rem 1.4rem ;
    color: var(--white-color);
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media screen and (max-width:660px) {
    
.sepcialOfferSectionCOntainer{
    
margin-top: 15px;
    }
.section2{
    height: 800px;
}
}

@media screen and (max-width:568px) {
    .sepcialOfferSectionCOntainer{
        flex-direction: column;
        text-align: right;
    }
    .arrowsection3{
        display: flex;
        width: 100%;
        position: relative;
        top: 800px;
        justify-content: center;
    }
    .div2{
        width: 100%;
    }

}

@media screen and (max-width:363px) {
    
    .card-box{
      width: 90vw;
    }
    .price-box [second]{
        font-size: 1.5rem;
    }

}

    @media screen and (max-width:381px) {
        .overlapContent{
            /* position: fixed; */
            bottom: 70px;
        }
    }

    .adevn-head{
        width: 90%;
       padding-top: 17rem;
         gap: 3rem;
        display: flex;
        flex-direction: column;
       margin: 0 auto;

    }

    .advenTextDiv{
        display: flex;
        flex-direction: column;
        gap: .8rem;
        width: 100%;
        margin: 0 auto;
    }
    .advenTextDiv p {
        color: var(--gray-shade);
    }
.advenTextDiv h3{
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: var(--blach-dark-);
}
    [dsf]{
     
    }

    .descLineDi{
        width: 7rem;
    height: 3px;
    background-color: var(--coral-color);
    }

    .advent2ndheadDiv{
        width: 90%;
        /* max-width: 1200px; */
        height: fit-content;
        display: flex;
        gap: 2rem;
        justify-content: space-evenly;
        margin: 0 auto;
align-items: flex-start;
text-align: center;
text-align: left;
    }

    .advent2ndheadDiv img{
object-fit: cover;
width: 50%;
height: 60%; 
    }

    .advent2ndheadDivTextPart{
      display: flex;
      flex-direction:column ;
     
      margin-top: auto;
      margin-bottom: auto;
      gap: 1.5rem;
      width: 50%;
      height: 100%;
    }
.advent2ndheadDivTextPart h3{
color: var(--blach-dark-);
font-size: 3rem;
line-height: 55px;
}
.advent2ndheadDivTextPart p{
    line-height: 20px;
    font-size: 12px;
    color: var(--blach-dark-);
}
.readmore{
    display: flex;
    gap: .5rem;
   width: 100%;
    align-items: center;
    justify-content: flex-start;
}
.readmore p{
    display: flex;
    /* width: 2rem; */
    color: var(--coral-color);
    font-size: 14px;
}
.readmore img{
    width: 1.6rem;
    height: .9rem;
}

.readmore:hover{
    cursor: pointer;
 
}

  @media screen and (max-width:934px) {
    .advent2ndheadDiv{
        width: 90%;
        max-width: 1200px;
        height: 600px;
        display: flex;
        margin-bottom: 2rem;
        flex-direction: column;
    }
    .advent2ndheadDiv img{
        width: 100%;
        height: 80%;
        object-fit: contain;

    }
    .advent2ndheadDivTextPart{
      
       width: 100%;

    }

    .readmore img{
        width: 1.6rem;
        height: .9rem;
    }

  }  

  @media screen and (max-width:470px) {
    .advent2ndheadDivTextPart{
        /* margin-top: 5rem; */
    }
  }

  .section5{
    display:  flex;
    width: 90%;
    margin: 0 auto;
 
justify-content: space-between;
  }

  .contsection5{
    /* margin-top: 6rem ; */
    height: 700px;
    display: flex;
    /* flex-direction: column; */
    width: 103%;
    justify-content: space-between;
    gap: 6.5rem;
  }

  .section5TextDIv{
width: 50%;
justify-content: center;
max-width: 350px;
/* text-align: left; */
display: flex;
flex-direction:column ;
gap: 1.5rem;
position: relative;
  }

  .section5TextDIv h3{
    color: var(--blach-dark-);
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;

  }

  .imageCarPrice{
    margin: 0 auto;
    width: 100%;
 display: flex;
    gap: 1.5rem;
  }
.descLineDiv{
    width: 7rem;
    height: 3px;
    background-color: var(--coral-color);
    gap: 1rem;
}

.section5TextDIv p{
    color: var(--gray-shade);
    margin-bottom: 1rem;
}
.viewtripbox{
    position: relative;
   
}

.viewall{
    width: max-content;
    padding: .7rem 1.2rem;
    background-color: var(--coral-color);
    border-radius: .5rem;
    color: var(--white-color);
    position: absolute;
    bottom: -54px;
    left: 3rem;
    z-index: 1;
    /* top: 105%; */
}

.blackbox{
    background-color: var(--blach-dark-);
    height: 45px;
    width: 45px;
    position: absolute;
    bottom: -37px;
    left: 28px;
    /* z-index: -1; */
}
.graybox{
    background-color: var(--gray-shade);
    height: 45px;
    width: 45px;
    position: absolute;
    bottom: -71px;
    left: 199px;
    /* z-index: -1;  */
}

.imageCarPrice{
    display: flex;
    width: 60%;
    height: fit-content;
    margin-left: auto;
    justify-content: end;
    /* align-items: center; */
  position: relative;
  top: 30%;
}

.imageCardPriceBox {
    display: flex;
    height: 26.563rem;
    width: 27.44rem;
    flex-direction: column;
    

}

.imageCardPriceBox img{
    width: 100%;
    /* height: 100%; */
    object-fit: contain;
   margin-bottom: 10px;
}

.cardRomi, .cardBarchloni{
    display: none;
}
.imgCardPrice {
    /* display: flex;
    flex-direction: column;
    position: relative;
    top: -9%; */
}
.guidedTour{
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.guidedTour p{
    font-size: small;
}

.ratingDay{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ratingDay img{
    width: 5rem;
    margin-top: 9px;
}

.ratingDay p{
   width: max-content;
}

@media screen and (max-width:13px) {
    .contsection5{
flex-direction: column;
    }
}


.cardBarchloni,.cardRomi{
    opacity: 0;
}

.cardupperKhiskao{
    position: relative;
    top: -10%;
}

.arrowsection5{
    display: none;
}

@media screen and (max-width:825px) {
    .contsection5{
        display: flex;
flex-direction: column;
position: relative;
margin-top: 5rem;
    }

    .section5TextDIv{
        width: 90%;
        display: flex;
        position: relative;
        top: 20%;
    }
    .imageCarPrice{
        width: 100%;
        
    }
.arrowsection5{
    margin-top: 15px;
    display: flex;
    gap: 2rem;
}

}

.section6{
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 3rem;
}

.section6TextANd-Navigations{
    margin-top: 3rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.destinationGallaryBOx{
display: flex;
flex-direction: column;
gap: 1rem;
color: var(--blach-dark-);
}

.destinationGallaryBOx p{
    color: var(--gray-shade);
}

.destinationGallaryBOx h3{

    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;

}

.arrowSection6{
    display: flex;
gap: 2rem;
align-items: end;
}