*,
::after,
::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
text-decoration: none;
}
:root{
    --coral-color :#FF7757;
    --white-color: #ffffff;
    --blach-dark-: #172432;
    --gray-shade: #767E86;
    --light-gray: #F5F6F7;
    --gold-shade: #FFC107;
}

#wrapper{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
  position: relative;
  margin: 0 auto;
}

.navHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
/* background: var(--gold-shade); */
padding: 0 3.7rem;
height: 4rem;
color: var(--white-color);
height: 85px;
    z-index:10;
}

.logo{
    height: 2rem;
    display: block;
}

.navDetails{
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
}

@media screen and (max-width:841px) {
    ,navDetails{
        display: none;
    }
}

.headList{
    position: relative;
    padding-top: 13px;
    padding-bottom: 10px;
}
.navList{
color: var(--white-color);

}

.underLine {
    position: absolute;
    transform: scale(0);
    height: 3px;
    width: 100%;
    background-color: var(--coral-color);
    transition: all 300ms linear;
    bottom: 0%;
}

.headList:hover .underLine {
    transform: scale(1);
}
.navBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 4px;
}

.navbtn-One{
font-size: 1.3rem;
}

 .navbtn-two{
font-size: 1.3rem;
border: none;
background-color: var(--coral-color);
border-radius: 4px;
padding: 5px 10px;
color: var(--white-color);
}

@media screen and (max-width:520px) {
    .navbtn-One,.navbtn-two{
        display: none;
    }

    .navHead{
        padding: 0 1rem;
    }
  .textDiv-one{
    font-size: 2.3rem;
  }
}


.logo,.navbtn-One:hover{
    cursor: pointer;
    color: var(--coral-color);
    transition: 200ms linear;
}
.navbtn-two:hover{
    cursor: pointer;
   color: var(--blach-dark-);
   transition: 200ms linear;
}
.hamburger{
    color: var(--white-color);
    height: 2.2rem;
transform: scale(0);
}
@media screen and (max-width:841px) {
    .hamburger{
    transform: scale(1);
    }
}

.heroSection{
width: 100vw;
max-width: 1880px;
height: 100vh;
position: relative;
    display: flex;
flex-direction: column;
justify-content: center;
align-content: space-between;
}
}
.heroimage{
    width: 100%;
    height: 100%;
    margin-top: -10.66rem;
    z-index: -1;
    object-fit: cover;
    object-position: top;
}
.textDiv{
  display: flex;
  flex-direction: column;
width: 60vw;
height: 50vh;
    left: 1.8rem;
   position: absolute;
    top: 6rem;
}

.textDiv-one{

    font-size: 3.9rem;
    color: var(--white-color);
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 1rem;
}

@media screen and (max-width:642px) {
    .textDiv{
        position: absolute;
        top: 1rem;
        /* margin-bottom:1rem ; */
    }
  
}

@media screen and (max-width:413px) {
    .textDiv-one{
        font-size: 3rem;
    }
}
.textDiv-two{

    color: var(--light-gray);
    font-weight: 100;
}
.bookingHeadDiv{
    display: flex;
    position: absolute;
    top: 24rem;
   max-width: 900px;
   width: 100%;
}
@media screen and (max-width:671px) {
    .bookingHeadDiv{
        /* margin-top: 2rem; */
        flex-direction: column;
      /* max-height: 569px; */
    }
    .Right-booknow{
      width: 100%;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 0 !important;

    }
    .leftbookingpart{
      max-height: 569px;

    }
}
.leftbookingpart{
    margin: 0 auto;
    display: flex;
   flex-wrap: wrap;
    gap: 2rem;
    color: var(--blach-dark-);
    background-color: var(--white-color);
    padding: 1.5rem;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (min-width:671px) {
    
}

.Right-booknow{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--coral-color);
    padding: 1rem 3.5rem;
color: var(--white-color);
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;

}

.Right-booknow:hover{
    background-color: var(--gold-shade);
    cursor: pointer;
}

.Right-booknow p{

font-size: 2.8rem;
}
.Right-booknow img{
    margin-left: 5px;
}
.destination, .person, .checkin,.checkout{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.Destination-sub p{
width: 150px;
padding-bottom: 10px;


}
.person-sub, .checkin-sub,.checkout-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
   
}

